<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8"/>
    <title>Title</title>
</head>
<link rel="stylesheet" href="../../static/bootstrap/css/bootstrap.min.css"
 th:href="@{/bootstrap/css/bootstrap.min.css}">

<body>
<div th:replace="layout/fragments/header :: header"></div>
    <div class="container">
        <table class="table mt-5">
            <thead>
            <tr>
                <th scope="col">ID</th>
                <th scope="col">Name</th>
            </tr>
            </thead>
            <tbody>
            <tr th:each="cat : ${allCate}">
                <th th:text="${cat.id}"></th>
                <td th:text="${cat.name}"></td>
            </tr>
            </tbody>
        </table>
        <a class="btn btn-primary" href="#" th:href="@{/createCategory}" role="button">OK</a>
    </div>

<div th:replace="layout/userlayout :: userfooter"></div>

</body>
</html>