<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8"/>
    <title>Title</title>
</head>
<link rel="stylesheet" href="../../static/bootstrap/css/bootstrap.min.css"
    th:href="@{/bootstrap/css/bootstrap.min.css}">
<body>
<div th:replace=" layout/adminlayout :: adminlayoutheader"></div>


    <div class="container">
        <div class="table-responsive mt-2">
            <div th:if="${success}">
                <p class="alert alert-success" role="alert">New Product Successfully Created!!!</p>
            </div>
            <table class="table mt-5">
                <thead>
                    <tr>
                        <th>ID</th>
                        <th>Name</th>
                        <th>Quantity</th>
                        <th>Price</th>
                        <th>Last Updated</th>
                        <th>Category</th>
                    </tr>
                </thead>
                <tbody>
                    <tr th:each="pro :${showPro}">
                        <td th:text="${pro.id}"></td>
                        <td th:text="${pro.name}"></td>
                        <td th:text="${pro.quantity}"></td>
                        <td th:text="${pro.price}"></td>
                        <td th:text="${pro.lateUpdated}"></td>
                        <td th:text="${pro.category.name}"></td>
                    </tr>
                </tbody>
            </table>
            <button type="submit" class="btn btn-primary">Submit</button>
        </div>
    </div>
</body>
</html>