<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8"/>
    <title>Title</title>
</head>
<link rel="stylesheet" href="../../static/bootstrap/css/bootstrap.min.css"
    th:href="@{/bootstrap/css/bootstrap.min.css}">
<body>
<div th:replace="layout/adminlayout :: adminheader"></div>

    <div class="container">
        <div th:if="${success}">
            <p class="alert alert-success mt-3" role="alert">
                New Product Successfully Created.
            </p>
        </div>

        <table class="table mt-5">
            <thead>
            <tr>
                <th scope="col">ID</th>
                <th scope="col">Name</th>
                <th scope="col">Quantity</th>
                <th scope="col">Price</th>
                <th scope="col">Last Updated</th>
                <th scope="col">Category</th>
            </tr>
            </thead>
            <tbody>
            <tr th:each="pro : ${allPro}">
                <th th:text="${pro.id}"></th>
                <td th:text="${pro.name}"></td>
                <td th:text="${pro.quantity}"></td>
                <td th:text="${'$ '+ pro.price}"></td>
                <td th:text="${pro.lastUpdated}"></td>
                <td th:text="${pro.category.name}"></td>
            </tr>
            </tbody>
        </table>
    <a class="btn btn-primary" href="#" th:href="@{/createProduct}" role="button">OK</a>
</div>

<div th:replace="layout/userlayout :: userfooter"></div>
</body>
</html>