<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8"/>
    <title>Title</title>
</head>
    <link rel="stylesheet" href="../../static/bootstrap/css/bootstrap.min.css"
          th:href="@{/bootstrap/css/bootstrap.min.css}">
<body>

    <div th:fragment="userheader">
        <div th:replace="layout/fragments/header :: header"></div>
        <div th:replace="layout/fragments/headerImg :: headerImage"></div>
    </div>
    <div th:replace="layout/fragments/body :: body"></div>


    <div th:replace="layout/fragments/footer :: footer" th:fragment="userfooter"></div>

</body>
</html>