<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8"/>
    <title>Title</title>

</head>
<body>
    <div id="img" class="jumbotron jumbotron-fluid" th:fragment="headerimage">
        <div class="container">
            <h1 class="display-4"> Best Online Shop</h1>
            <p class="lead"> We offer a full array of letter shopping and fulfilment services that take care of your mailing needs holistically. Whether you are putting together a personalised direct mail campaign or mailing out high volume of monthly bills, our experienced team can help you manage your letter shopping and bulk mailing needs at every step of the way. </p>
            <a href="" class="btn btn-success">Try Now!</a>
        </div>

        <style>
            #img{
                background: url("https://images.unsplash.com/photo-1512192798277-33b2a3b99d5c?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=800&q=60");
                background-position: center;
            }
        </style>
    </div>

</body>
</html>