<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8"/>
    <title>Title</title>
</head>

<link rel="stylesheet" href="../../static/bootstrap/css/bootstrap.min.css"
      th:href="@{/bootstrap/css/bootstrap.min.css}">
<body>
<div th:replace="layout/userlayout :: userheader"></div>
<div class="container">

    <div class="row">
        <div class="col-sm-1"></div>
        <div class="col-sm-1"></div>
        <div class="col-sm-1"></div>
        <div class="col-sm-1"></div>
        <div class="col-sm-1"></div>
        <div class="col-sm-1"></div>
        <div class="col-sm-1"></div>
        <div class="col-sm-1"></div>
        <div class="col-sm-1"></div>
        <div class="col-sm-1"></div>
        <div class="col-sm-1"></div>
        <div class="col-sm-1">
            <a th:href="@{/cart/cartView}"><i class="fas fa-cart-plus fa-2x"></i></a><span class="ml-3" th:text="${cartsize}"></span>
        </div>
    </div>
    
    <div class="row mt-3">
        <div class="col-sm-4">
            <img src="../../static/images" th:src="@{'/resources/static/images/' + ${detail.name} + '.jpg'}"
                 style="height: 350px; width: 350px"  class="img-thumbnail mb-5">
        </div>

        <div class="col-sm-8">
            <h3 class="text-center" th:text="${detail.name}"></h3>
            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Alias inventore odit optio qui repellendus sit, voluptatem. Aliquam ducimus esse impedit iste minima, nesciunt, nobis quam, repellat saepe velit voluptas voluptatum.</p>
            <p th:text="${'$ '+detail.price}"></p>
            <p th:text="${detail.quantity+' items'}"></p>

            <div class="row mt-3">
                <a class="btn btn-primary mr-3" th:href="@{/}">Continue Shopping</a>
                <a class="btn btn-primary" th:href="@{'/cart/add/'+ ${detail.id}}">Add to Cart</a>
            </div>
        </div>
    </div>

</div>
<script src="https://kit.fontawesome.com/4bc4e21f56.js" crossorigin="anonymous"></script>

<div th:replace="layout/fragments/footer :: footer" th:fragment="userfooter"></div>

</body>
</html>