<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8"/>
    <title>Title</title>
</head>
<link rel="stylesheet" href="../../static/bootstrap/css/bootstrap.min.css"
      th:href="@{/bootstrap/css/bootstrap.min.css}">
<body>
<div th:replace="layout/userlayout :: userheader"></div>
<div class="container mt-3">
    <div class="row mb-5 mt-3">
        <div class="col-sm-4" th:each="pro : ${proByCate}">
            <div class="card" style="width: 18rem;">
                <img class="card-img-top" src="../../static/images"  style="height: 250px;"
                     th:src="@{'/resources/static/images/' + ${pro.name} + '.jpg'}" alt="Card image cap">

                <div class="card-body">
                    <h5 class="card-title" th:text="${pro.name}"></h5>
                    <p class="card-text" th:text="${'$ '+pro.price}"></p>
                    <p class="card-text" th:text="${pro.quantity + ' items'}"></p>
                    <a th:href="@{'/detail/'+${pro.id}}" class="btn btn-primary">Details</a>
                </div>
            </div>

        </div>
    </div>
</div>

<div th:replace="layout/fragments/footer :: footer" th:fragment="userfooter"></div>

</body>
</html>